* {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	min-height: 100%;

	margin: 0;
	padding: 0;

	line-height: 1.4;

	background-color: #333;
	color: #212121;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

/* Links and headers */
a {
	color: #03A9F4;
	text-decoration: none;

	transition: all 0.25s ease;
}

a:hover {
	color: #01579B;
}

h1 {
	font-size: 3.5em;
	line-height: 1.3;
	margin: 0;
}

h2 {
	font-size: 1.8em;
	padding: 0 0 1vh 0;
	margin: 0;
}

h3 {
	font-size: 1.4em;
	margin-top: 0;
}

/* Wrapper */

.wrapper {
	max-width: 50vw;
	height: 100%;
	margin: 0 auto;

	text-align: center;

	display: flex;
	flex-direction: column;
}

/* Header */

.header {
	background-color: #f1f1f1;

	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.header p {
	font-size: 1.4em;
	margin: 0;
}

.social {
	position: absolute;
	padding: 1vh;
}

/* Nav */

.navigation {
	display: flex;
	justify-content: space-around;
	list-style: none;

	border-bottom: 3px #03A9F4 solid;
	border-radius: 2px;

	padding-top: 1vh;
}

.navigation li {
	flex-basis: 30%;
	line-height: 1.3;
}

.navigation a{
	font-size: 1.8em;

	padding: 0 1vh 0 1vh;
}

.highlight {
	transition: all 0.25s ease;
}

.highlight:hover {
	background-color: #03A9F4;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: white;
}

.active {
	background-color: #03A9F4;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	color: white;
}

.icon {
	height: 32px;
	filter: opacity(0.7);
	transition: all 0.25s ease;
}

.icon:hover {
	filter: opacity(1);
}

/* Content */

.contentWrapper {
	height: 100%;
	float: left;
	text-align: justify;
}

.content {
	background-color: #f1f1f1;

	border-bottom: 3px #03A9F4 solid;
	border-top: 3px #03A9F4 solid;
	border-radius: 2px;

	margin: 2vh 0;
	padding: 2vh;
}

/* Content Presets */

.content p {
	font-size: 1.2em;
	padding: 1vh 0;
	margin: 0;
}

/* Blog */

.blog {
	list-style: none;
}

.post {
	padding: 0 0 1vh 0;
}

.postTitle {
	font-size: 1.3em;
}

.date {
	font-size: 0.7em;
	color: #555;
}

.post p {
	padding: 0 0 0 1vh;
}

/* Projects */

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.subtitle p {
	padding: 0 0 2vh 0;
}

.entry {
	text-align: center;
	width: 256px;

	transition: all 0.25s ease;
}

.entry p {
	padding: 0 0 3vh 0;
}

.entry img {
	width: 60%;
	border-radius: 2px;
}

.entry:hover {
	filter: brightness(110%);
}

/* Footer */

footer {
	padding: 1vh;
}

footer span {
	color: #f1f1f1;
	opacity: 0.5;
	transition: all 0.25s ease;
}

footer span:hover {
	opacity: 1;
}

footer span img {
	width: 12px;
}

/* Media tags */

@media screen and (max-width: 1040px) {
	.social {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.wrapper {
		max-width: 70vw;
	}
}

@media screen and (max-width: 800px) {
	.wrapper {
		max-width: 90vw;
	}
}
@media screen and (max-width: 600px) {
	.wrapper {
		max-width: 100vw;
	}

	.header h1 {
		font-size: 2.6em;
	}

	.navigation a{
		font-size: 1.4em;
	}
}