hgroup {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0 0 1.6rem;

  h1,
  p {
    margin: 0;
  }
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 0 1.6rem;
  padding: 0 1.6rem;

  li p {
    margin: 0;
  }

  li::before {
    color: var(--highlight);
  }
}

a {
  color: var(--highlight);
  text-decoration: underline;
  text-decoration-thickness: 1px;
  transition: all 0.1s;

  &:hover {
    color: var(--highlight-dark);
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }

  &:active {
    background-color: var(--border);
    text-decoration-thickness: 3px;
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-left: solid 2px #4a4a4a;
  color: #4a4a4a;
  margin: 0 0 1.6rem 0;
  padding: 0 0 0 1em;

  p {
    font-style: italic;
    margin: 0;
  }
}

details {
  margin: 0;

  summary {
    cursor: pointer;
    line-height: 1.5;
  }

  ul {
    padding: 1.6rem 0 0 1.6rem;
  }
}

hr {
  background-color: var(--border);
  border: none;
  height: 2px;
  margin: 0 0 1.6rem -1.6rem;
  width: calc(100% + 3.2rem);

  @media screen and (max-width: 700px) {
    margin: 0 0 1.6rem 0;
    width: 100%;
  }
}

figure {
  margin: 0 0 1.6rem;

  figcaption {
    color: var(--light-black);

    &::before {
      content: '🖼️';
      display: inline;
      position: relative;
      margin-right: 0.5ch;
    }
  }

  p {
    margin: 0;
    display: inline;
  }
}

img {
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 0 0 1.6rem;
}

.footnote-definition {
  display: inline-flex;
  padding: 0;
  margin: 0 0 1.6rem;

  &:target p {
    background-color: var(--border);
  }

  sup,
  p {
    display: inline;
    margin: 0;
  }
}