h1 {
  margin: 0 0 1.6rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 0 0 1.6rem;
  padding: 0 1rem;

  li {
    margin: 0;
  }
}

p {
  line-height: 1.5;
  margin: 0 0 1.6rem;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    text-decoration: underline;
  }

  &:focus {
    outline: black dashed 2px;
    outline-offset: 2px;
  }
}

img {
  max-width: 100%;
}

blockquote {
  border-left: solid 2px #4a4a4a;
  color: #4a4a4a;
  margin: 0 0 1.6rem 0;
  padding: 0 0 0 1em;

  p {
    font-style: italic;
    margin: 0;
  }
}

details {
  margin: 0;

  summary {
    cursor: pointer;
    line-height: 1.5;
  }
}

hr {
  background-color: $teal;
  border: none;
  height: 2px;
}
