h1 {
  font-size: 3.2rem;
  line-height: 1;
  margin: 0 0 var(--spacing);
  position: relative;

  a {
    color: inherit;
  }
}

h2 {
  font-size: 2.6rem;
  line-height: 4.2rem;
}

p {
  margin: 0 0 var(--spacing-small);
}