:root {
  font-size: 10px;

  @media screen and (max-width: 400px) {
    font-size: 7px;
  }
}

body {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
}

h1 {
  line-height: calc(1ex / 0.42);
  margin: 0 0 1ex;
}

hgroup {
  p {
    margin: 0;
    line-height: 1;
  }
}

p {
  font-family: serif;
  line-height: calc(1ex / 0.32);
  margin: 0 0 calc(1ex / 0.32);

  &:last-child {
    margin: 0;
  }
}

li {
  font-family: serif;
  line-height: calc(1ex / 0.32);
}

a {
  font-family: inherit;
}