/**
  Why SCSS variables and not CSS variables? SCSS interpolates the actual values
  into the compiled CSS, saving a few precious bytes!

  You could use single letter CSS variables like var(--t) (8 bytes) but that
  sacrifices developer experience.

  i.e var(--teal) 11 bytes vs #36acb8 (7 bytes)
*/
$green: #88b04b;
$darkGreen: #3F6209;

$foreground: black;
$highlight: $green;
$background: #f9fbff;

*,
*::before,
*::after {
  box-sizing: inherit;
}


// NOTE: Some base styles are inlined in base.html
:root {
  box-sizing: border-box;
  color: $foreground;

  /**
    This value is debatably good, but I enjoy the simplicity of 1rem being equal
    to exactly 10 pixels.
  */
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  margin: 0;
  
  @media screen and (max-width: 700px) {
    flex-direction: column;
  }
}

main {
  background: $background;
  border: 3px solid $highlight;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  margin-right: auto;
  margin: 1.6rem;
  max-width: 60ch;
  padding: 1.6rem;
  position: relative;

  &::before {
    background-image: radial-gradient($highlight 0.3rem, transparent 0.3rem);
    background-size: 1.8rem 1.8rem;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: rotate(3deg);
    width: calc(100% + 2rem);
    z-index: -1;
  }

  @media screen and (max-width: 700px) {
    border: none;
    border-top: 3px solid $highlight;
    margin: 0;
    overflow: hidden;
  }
}

@import "base";

@import "templates/header";
