:root {
  --black: #111111;
  --white: #fcfcfc;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 100%;
  background-color: var(--white);
}

body {
  color: var(--black);
}

@import 'base';

@import 'templates/header';