:root {
  --black: #111111;
  --white: #fcfcfc;
  --gray: #4a4a4a;

  --blue: #10a2f5;
  --dark-blue: #087fc4;
  --cyan: #36acb8;
  --light-cyan: #eefdfe;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  background-color: var(--white);
  box-sizing: border-box;
  font-size: 100%;
}

body {
  color: var(--black);
}

@media screen and (max-width: 600px) {
  body {
    margin: auto;
  }

  main {
    padding: 0 0.5em;
  }
}

@import "base";

@import "templates/header";
