*{
	font-family: 'Droid Serif', serif;
}
body{
	background-color: #3386AC;
}
h5, h4{
	font-weight: bold;
	margin:0;
	margin-left:5px;
	color:#BBD2E3;
}
p, ul{
	font-size: 125%;
	text-align:justify;
	margin-top:15px;
	color:#BBD2E3;
}
code{
	color: green;
}
.content{
	border: 2px solid #3277AB;
	border-radius: 7px;
	position: relative;
	padding:5px;
	left: 50%;
	right: 50%;
	transform: translate(-50%);
	margin:0 !important;
}
.content ol{
	margin:0;
	color:#73A4C6;
	margin-left:20px;
	counter-reset: item
}
ol{
	color:#BBD2E3;
}
.content li{ 
	margin-bottom: 0 !important;
	display: block 
}
ol > ol{
	margin: 0;
	margin-left: 20px;
}
.content li:before{
	content: counters(item, ".") " "; counter-increment: item
}
.rules{
	font-size: 125%;
	text-align:justify;
	margin-top:15px;
	color:#BBD2E3;
}
a, a:visited{
	text-decoration: none;
	color:#BBD2E3;
}
a:hover{
	text-decoration: underline;
	cursor: pointer;
	color:#BBD2E3
}
.center{
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	display:block;
}