---
layout: page
title: blog
---

<p>
  Here you should be able to find all my latest ramblings, and documented 
  thoughts.
</p>

<ul class="blog-post-list">
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url }}" class="post-header">
        <span>{{ post.title }}</span>
        <time datetime="{{ post.date }}" title="{{ post.date }}">
          {{ post.date | date: "%b %Y" }}
        </time>
      </a>
      <div class="post-categories">
        {% for category in post.categories %}
          <p>{{ category }}</p>
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>