providers = ['node']

[phases.setup]
nixPkgs = ['nodejs_24', 'deno']

[phases.install]
cmds = ['deno install']
cacheDirectories = ['node_modules']

[phases.build]
cmds = ['deno run build']
cacheDirectories = ['.astro']