providers = ['node']

[phases.setup]
nixPkgs = ['nodejs_20']
aptPkgs = ['unzip']
cmds = [
  "curl -fsSL https://deno.land/install.sh | sh -s v2.6.9"
]

[phases.install]
cmds = ['deno install']
cacheDirectories = ['node_modules']

[phases.build]
cmds = ['deno install && deno task build']
cacheDirectories = ['.astro']

[variables]
DENO_INSTALL = "/root/.deno"
NIXPACKS_PATH = "/root/.deno/bin"