providers = ['node']

[phases.setup]
nixPkgs = ['nodejs_20']
aptPkgs = ['unzip']
cmds = [
  "curl -fsSL https://deno.land/install.sh | sh -s v2.6.9",
  "ln -sf /root/.deno/bin/deno /root/.local/bin/deno"
]

[phases.install]
cmds = ['deno install']
cacheDirectories = ['node_modules']

[phases.build]
cmds = ['deno run build']
cacheDirectories = ['.astro']