body{
	font-family: 'Fira Mono', monospace;
	margin:0;
	background-color:#01040E;
	background-image: url(page.jpg);
}
#box{
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	
	color:#15343E;
	width:40%;
	height: 20%;
	
	padding:10px;
	padding-top:0px;
	
	border: 3px solid #051522;
	border-radius: 5px;
	background-color:#15343E;
	
	opacity: 0.75;
}
#header{
	margin-bottom:10px;
	height:50px;
	border-bottom:2px solid #051522;
}
#header #clock{
	font-size:3em;
	line-height:1;
	margin:0;
	padding:0;
	color:#50958A;
}
#clock{
	position:fixed;
	left:50%;
	transform:translate(-50%);
	
	color:#50958A;
}
.links{
	line-height:1.1;
	position:relative;
	font-size:2em;
	color:#50958A;
}
.links span{
	color:#89CCB4;
}
.links ul{
	display:block;
	margin:0;
	margin-bottom:15px;
	padding:0;
	list-style-type:none;
}
li{
	display:inline;
	position:relative;
}
li a{
	transition: all .25s linear;
}
li a:hover{
	opacity:1;
}
li span{
	font-weight:bold;
}
a:visited{
	text-decoration:none;
	color:#50958A;
}
a:link{
	text-decoration:none;
	color:#50958A;
}
li > a:before{
	content:'';
	left:0;
	bottom:0;
	width:100%;
	z-index: -1;
	
	background-color:#051522;
	height:2px;
	
	position:absolute;
	visibility:hidden;
	opacity:.75;

	transition: all 0.25s linear;
	-webkit-transform: translateZ(0px) scaleX(0);
}
li > a:hover:before{
	position:absolute;
	visibility: visible;
	-webkit-transform: translateZ(0px) scaleX(1);
}