*{
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
	text-decoration:none;
}
html, body{
	height: 100%;
	width: 100%;
}
img{
	float:left;
	width:320px;
	height:180px;
}
h1{
	font-size:500%;
	text-align:center;
}
p{
	text-align:center;
	font-size:150%;
	margin-bottom:10px;
}
a{
	color:black;
}
.startpage{
	width:330px;
	height:200px;
	display:block;
	float:left;
}
.startpage2{
	width:330px;
	height:200px;
	display:block;
	float:right;
}
.startpage3{
	width:330px;
	height:200px;
	display:block;
}
.container{
	left:50%;
	transform:translate(-50%);
	position:absolute;
	text-align:center;
}