---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/BaseLayout.astro";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate!.valueOf() - a.data.pubDate!.valueOf()
);
---

<Layout title="Posts">
  <section>
    <h1>Posts</h1>
    <ul class="posts">
      {
        posts
          .filter((post) => !post.data.draft)
          .map((post) => (
            <li>
              <a class="post" href={`/posts/${post.slug}/`}>
                <h2 class="title">{post.data.title}</h2>
                <p class="date">
                  <FormattedDate date={post.data.pubDate!} />
                </p>
              </a>
            </li>
          ))
      }
    </ul>
  </section>
</Layout>

<style lang="scss">
  .posts {
    list-style: none;
    margin: 0;
    padding: 0;

    h2 {
      margin-bottom: 0.5rem;
    }
  }

  .post {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    color: inherit;
    text-decoration: none;

    p {
      margin: 0;
    }

    .title {
      font-size: 1em;
      font-weight: normal;
    }

    &:hover {
      color: var(--foreground-focus);
    }
  }
</style>
