*{
    margin: 0;
    padding:0;

    /* Font stuff */
    font-family: 'Lato', sans-serif;
    line-height: 1.3;
    font-size: 100%;

    text-decoration: none;
    color: #222222;

    /* Others */
}
html,
body{
    min-width: 100%;

    background-color: #f1f1f1;
}
b {
    color: #C75B50;
}
h1, h2 {
    color: #803028;
}
/* Wrapper */
.wrapper {
    max-width:40%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

/* Header */
.header {
    background-color: #dcdcdc;
}
.header h1 {
    font-size: 3em;
    line-height: 1;
}
.header p {
    font-size: 1em;
    margin-bottom: 1%;
}

/* Nav */
.navigation {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;

    background-color: #dcdcdc;
    border-bottom: 3px #333333 solid;
    border-radius: 2px;
}
.navigation li {
    display: inline-flex;
    font-size: 1.5em;
}

/* Content */
.content {
    margin-top: 1em;

    min-height: 100%;
}
.content p {
    padding: 1em;
    text-align: left;
}
.content h1 {
    font-size: 2em;
}

/* Content for Projects */
.projects{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;

    height: 100%;
    width: 100%;
}
.entry {
    width: 15vh;
    height: 15vh;

    margin: 1em;

    background-color: #dcdcdc;
    outline: 0.5vh solid black;
}
.projects img {
    width: 100%;
}

/* Footer */
.footer {
    position: absolute;
    left: 50%;
    bottom: 0;

    opacity: .5;
    transform: translate(-50%);
    transition: all 0.25s ease;
    padding: 5px;
}
.footer p {
    color: #555555;
}
.footer img {
    height: 12px;
}

/* Animation */
.expand {
    -webkit-transform: scale(1.0);
    transition: all 0.25s ease;
}
.expand:hover {
    -webkit-transform: scale(1.1);
}

.highlight {
    padding: 1rem;
    padding-bottom: 0;
    padding-top: 0;
    transition: all 0.25s ease;
}
.highlight:hover {
    background-color: #333333;
    color: #f1f1f1;
}

.footer:hover {
    opacity: 1;
}

a:hover {
    color: #803028;
}

/* Media tags */
@media only screen and (max-width: 1000px) {
    .wrapper {
        max-width:80%;
    }
}
@media only screen and (max-width: 1500px) {
    .wrapper {
        max-width:60%;
    }
}
@media only screen and (max-width: 700px) {
    .wrapper {
        max-width:100%;
    }
}
