<footer class="page-footer">
  <p>
    <a href="/about">About</a>
  </p>

  <div class="social">
    <p>Talk to me</p>

    <span class="arrow">
      {% include images/arrow-right.svg %}
    </span>

    <a title="Twitter - Mariusz"
       href="https://twitter.com/pulvish"
       target="_blank"
       rel="noreferrer noopener">
      {% include images/twitter.svg %}
    </a>
  </div>
</footer>

<!-- GoatCounter analytics, see: https://github.com/zgoat/goatcounter -->
<script data-goatcounter="https://vallode.goatcounter.com/count"
        src="//gc.zgo.at/count.js"
        async>
</script>