<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta name='description' content='My personal webpage for hosting a small blog and all of my project work'>
	<meta name='author' content='Mariusz "Vallode" Zarzycki'>
	<meta name='keywords' content='Full-stack Developer, Blog, Programming'>

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

	<link href='/css/style.css' rel='stylesheet'>

	<link href='/images/favicon.png' rel='icon' type='images/png' >
	<title>Mariusz - {{ page.title }}</title>
</head>