<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<meta property='og:image' content='/images/favicon.png'>
	{% seo %}

	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

	<link href='/css/style.min.css' rel='stylesheet'>

	<link href='/images/favicon.png' rel='icon' type='images/png' >
</head>
<body>
<div class='wrapper'>
	<div class='header'>
		<div class='social'>
			<a href='https://twitter.com/Vallode_' target='_blank'><img src='/images/twitter.svg' class='iconLarge'></a>
			<a href='https://github.com/vallode' target='_blank'><img src='/images/github.svg' class='iconLarge'></a>
		</div>
		<h1>Mariusz Zarzycki</h1>
		<p>Freelance Web Developer</p>