<head lang="en-GB" dir="ltr">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Mariusz Zarzycki">
  <meta name="description"
        content="Hey there, search engine! I'm Mariusz, a Web Developer. Read all about me, and check out some stuff by me...">
  <meta content="Vallode" property="og:site_name">
  <meta content="Hey there, opengraph! I'm Mariusz, a Web Developer. Read all about me, and check out some stuff by me..."
        property="og:description">

  <meta content="Vallode" property="og:title">

  {% if page.layout == 'post' %}
    <meta content="article" property="og:type">
  {% else %}
    <meta content="website" property="og:type">
  {% endif %}

  <meta content="{{ '/assets/image/splash.png' | absolute_url }}" property="og:image">

  {% if page.url %}
    <meta content="page.url" property="og:url">
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="Vallode">
  <meta name="twitter:creator" content="@Vallode_">
  <meta name="twitter:title" content="Mariusz Zarzycki">
  <meta name="twitter:description"
        content="Hey there, twitter! I'm Mariusz, a Web Developer. Read all about me, and check out some stuff by me...">
  <meta name="twitter:image" content="{{ '/assets/image/splash.png' | absolute_url }}">

  <link rel="icon"
        type="image/png"
        sizes="16x16"
        href="{{ '/assets/images/favicon-16x16.png' | relative_url }}">
  <link rel="icon"
        type="image/png"
        sizes="32x32"
        href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">

  <title>{{ site.title }} | {{ page.title | capitalize }}</title>

  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
