<div class="portfolio">
  <h2>Development work</h2>

  <ul>
    <li>
      <a href="https://www.beonhand.co.uk/"
         title="onHand"
         target="_blank"
         rel="noreferrer noopener">
        <div class="image"
             role="img"
             aria-label="Market Finder, think with Google"
             style="background-image: url('/assets/images/onhand.png')">
        </div>
      </a>
    </li>
    <li>
      <a href="https://marketfinder.thinkwithgoogle.com/intl/en_us/"
         title="Google Market Finder"
         target="_blank"
         rel="noreferrer noopener">
        <div class="image"
             role="img"
             aria-label="Market Finder, think with Google"
             style="background-image: url('/assets/images/google-market-finder.jpg')">
        </div>
      </a>
    </li>
    <li>
      <a href="https://deepmind.com/" title="DeepMind"
         target="_blank"
         rel="noreferrer noopener">
        <div class="image"
             role="img"
             aria-label="Expanding our knowledge, finding new answers. DeepMind"
             style="background-image: url('/assets/images/deepmind.jpg')">
        </div>
      </a>
    </li>
  </ul>
</div>
