<div class="portfolio">
  <h3>Development work: </h3>

  <ul>
    <li>
      <a href="https://marketfinder.thinkwithgoogle.com/intl/en_us/"
         title="Google Market Finder"
         target="_blank">
        <div class="image"
             style="background-image: url('/assets/images/google-market-finder.jpg')">
        </div>
      </a>
    </li>
    <li>
      <a href="https://ads.google.com/getstarted/"
         title="Google Ads"
         target="_blank">
        <div class="image"
             style="background-image: url('/assets/images/google-ads.jpg')">
        </div>
      </a>
    </li>
    <li>
      <a href="https://deepmind.com/" title="DeepMind" target="_blank">
        <div class="image"
             style="background-image: url('/assets/images/deepmind.jpg')">
        </div>
      </a>
    </li>
  </ul>
</div>
