.content-wrapper {
  @include container-padding;

  background-color: $-c-green-500;
  color: $-c-black;
  display: flex;
  flex-direction: column;
  flex: 1;
  line-height: 24px;
  position: relative;

  main > :first-child {
    margin: 0 0 1em;
  }

  .intro {
    color: $-c-blue-500;
    font-family: $-f-poly;
    font-size: rem(22px);
    line-height: rem(34px);
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    position: relative;
  }

  hr {
    background: url('/assets/images/break.svg') no-repeat;
    border: 0;
    height: 18px;
    margin: 40px 0;
  }
  
  p a {
    font-weight: bold;
    margin: 0 -.5ch;
    padding: 0 .5ch;
    transition: color .1s ease;

    &:focus,
    &:hover {
      color: $-c-yellow-500;
    }
  }
}
