.page-footer {
  @include container-padding-sides;

  border-top: 4px solid $-c-yellow-500;
  color: $-c-blue-500;
  display: flex;
  position: relative;
  width: 100%;

  .social {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 15px 0;
  }

  svg {
    fill: $-c-blue-500;
    transition: fill .125s ease;
  }

  .arrow,
  a {
    align-items: center;
    display: flex;
  }

  a {
    justify-content: flex-end;
    margin: 0 0 0 12px;

    &:focus svg,
    &:hover svg {
      fill: $-c-yellow-500;
    }
  }

  p {
    font-weight: bold;
    margin: .4em;
  }
}
