.page-footer {
  @include container-padding-sides;

  align-items: center;
  border-top: 4px solid $-c-yellow-500;
  color: $-c-blue-500;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  position: relative;
  width: 100%;

  .social {
    align-items: center;
    display: flex;
    justify-content: flex-end;
  }

  .arrow {
    margin: .5em;
  }

  svg {
    display: block;
    fill: $-c-blue-500;
    transition: fill .125s ease;
  }

  a {
    text-decoration: none;
    transition: color 0.125s ease;

    &:focus, 
    &:hover {
      color: $-c-yellow-500;

      svg {
        fill: $-c-yellow-500;
      }
    }
  }

  p {
    font-weight: bold;
  }
}
