.page-footer {
  @include container-padding;

  border-top: 4px solid $-c-yellow-500;
  color: $-c-blue-500;
  display: flex;
  fill: $-c-blue-500;
  position: relative;
  width: 100%;

  .social {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin: 15px 0;
  }

  .arrow {
    align-items: center;
    display: flex;

    svg {
      margin: 0;
    }
  }

  a {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    transition: fill .125s ease;

    &:focus,
    &:hover {
      fill: $-c-yellow-500;
    }
  }

  p {
    font-weight: $-f-bold;
    margin: .4em;
  }

  svg {
    margin: 0 0 0 12px;
  }
}
