*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  @include container-padding;

  background-color: $-c-white;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 33px;
  min-height: 100%;

  @include phone-up {
    font-size: 20px;
  }

  @include large-desktop-up {
    font-size: 22px;
  }
}

body {
  min-height: 100%;
}
