.page-header {
  @include container-padding-sides;

  align-items: center;
  border-bottom: 4px solid $-c-yellow-500;
  color: $-c-blue-500;
  display: flex;
  justify-content: space-between;
  position: relative;

  .h1 {
    display: inline;
    font-size: 37px;
    letter-spacing: 5px;
    line-height: 74px;
    text-decoration: none;

    &:focus,
    &:hover {
      .ode::before {
        left: 60%;
      }
    }
  }
}

.page-nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
    }
  }

  li {
    position: relative;

    &::before {
      content: "";
      display: block;
      height: 110%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all .125s ease;
      width: calc(100% + 1ch);
      z-index: -1;
    }

    &:focus::before,
    &:hover::before {
      background-color: $-c-yellow-500;
    }
  }
}
