.page-header {
  @include container-padding;

  border-bottom: 4px solid $-c-yellow-500;
  color: $-c-blue-500;
  display: block;
  position: relative;

  .h1 {
    display: inline;
    font-size: 37px;
    letter-spacing: 5px;
    line-height: 74px;
  }

  .ode,
  .d {
    position: relative;

    &::before {
      background-color: $-c-yellow-500;
      content: '';
      display: block;
      height: .3em;
      position: absolute;
      top: calc(50% - 2px);
    }
  }

  .ode {
    left: -4px;
    letter-spacing: -1px;
    z-index: 1;

    &::before {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 105%;
      z-index: -1;
    }
  }

  .d {
    &::before {
      left: 0;
      transform: translateY(-50%);
      width: .4em;
      z-index: 1;
    }
  }
}

.page-not-found .ode {
  left: 0;
}
