@font-face {
  font-family: 'Forta';
  src: url('/assets/fonts/Forta.ttf') format('truetype');
}

@font-face {
  font-family: 'Poly';
  src: url('/assets/fonts/Poly.otf') format('opentype');
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  color: $-c-blue-500;
  font-family: $-f-forta;
}

h1,
.h1 {
  font-size: rem(37px);
  line-height: rem(59px);

  @include phone-up {
    font-size: rem(47px);
    line-height: rem(74px);
  }
}

h2,
.h2 {
  font-size: rem(29px);
  line-height: rem(49px);

  @include phone-up {
    font-size: rem(37px);
    line-height: rem(59px);
  }
}

h3,
.h3 {
  font-size: rem(23px);
  line-height: rem(40px);

  @include phone-up {
    font-size: rem(29px);
    line-height: rem(49px);
  }
}

p {
  font: rem(18px) $-f-poly;
}
