@font-face {
  font-family: 'Forta';
  src: url('/assets/fonts/Forta.ttf') format('truetype');
}

@font-face {
  font-family: 'Poly';
  src: url('/assets/fonts/Poly.otf') format('opentype');
}

h1,
h2,
h3,
h4,
h5 {
  color: $-c-blue-500;
}

h1,
.h1 {
  font: 47px / 74px $-f-forta;
}

h2,
.h2 {
  font: 37px / 59px $-f-forta;
}

h3,
.h3 {
  font: 29px / 48px $-f-forta;
}

h4,
.h4 {
  font: 23px / 40px $-f-forta;
}

h5,
.h5 {
  font: 18px / 32px $-f-forta;
}
