// Black
$-c-black: #222;

// White
$-c-white: #fff;

// Green
$-c-green-500: #f3f2ea;
$-c-green-700: #edece3;

// Light Green
$-c-lgreen-500: #00a68c;

// Blue
$-c-blue-500: #005385;

// Yellow
$-c-yellow-500: #ffda70;

// Typography
$-f-forta: 'Forta', serif;
$-f-poly: 'Poly', sans-serif;

$-f-light: 300;
$-f-normal: 400;
$-f-semibold: 500;
$-f-bold: 700;
