:root {
  color-scheme: light dark;

  --foreground: #333;
  --foreground-focus: #1b5e20;
  --foreground-highlight: #a5d6a7;
  --middleground: #e0e0e0;
  --background-highlight: #fff;
  --background: #fff;
  --border: #bdbdbd;

  @media (prefers-contrast: more) {
    --foreground: #121212;
    --background: white;
  }

  @media (prefers-color-scheme: dark) {
    --foreground: #eeeeee;
    --foreground-focus: #a5d6a7;
    --foreground-highlight: #1b5e20;
    --middleground: #494949;
    --background: #121212;
    --border: #616161;

    img {
      filter: brightness(0.75);
    }
  }

  @media (prefers-contrast: more) and (prefers-color-scheme: dark) {
    --foreground: white;
    --background: black;
  }

  @media (forced-colors: active) {
    // Individual elements may need to change styling.
  }
}
