:root {
  font-size: 10px;
}

body {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: sans-serif;
  font-weight: 500;
  margin: 0;
}

h1 {
  line-height: calc(1ex / 0.42);
}

h2 {
  line-height: calc(1ex / 0.42);
  margin-block-start: 1ex;
}

hgroup {
  p {
    margin: 0;
    line-height: 1;
  }
}

p {
  font-family: serif;
  line-height: calc(1ex / 0.32);
  margin: 0;
  margin-block-start: calc(1ex / 0.52);

  &:first-child {
    margin: 0;
  }
}

li {
  font-family: serif;
  line-height: calc(1ex / 0.32);
}

code {
  font-size: 1.6rem;
  line-height: 1;
}

a {
  font-family: inherit;
}
