* {
    box-sizing: border-box;
}

$background: #282828;
$foreground: #f0f0f0;
$highlight: #03A9F4;

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;

    background-color: $background;
    color: $background;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

/* Typography */

h1,
h2,
h3 {
    letter-spacing: 0.125rem;
    margin: 0;
}

h1 {
    font-size: 2.5rem;
}

h2 + p {
    padding-top: 0;
    margin-top: 0;
}

p {
    font-size: 1rem;
}

a {
    color: $highlight;
    text-decoration: none;

    transition: color 0.25s ease;

    &:hover {
        color: darken($highlight, 20%);
    }
}

.highlighter-rouge {
    color: $background;
    background-color: #d0d0d0;
    padding: 0.1rem 0.5rem;
    margin: 0 0.1rem;
    font-size: 90%;
    border: 1px solid #9f9f9f;
    border-radius: 2px;

    .highlight {
        &:hover {
            color: $background;
            background-color: #d0d0d0;
        }
    }
}

.language-html {
    margin-bottom: 20px;
}

.wrapper {
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}

.content-wrapper {
    max-width: 50vw;
    width: 50vw;
    margin: auto;
    flex: 1;
    text-align: left;
}

/* Header */

.header {
    position: relative;
    height: 95px;
    text-align: left;
    background-color: $foreground;

    box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);

    p {
        font-size: 1.3rem;
        margin: 0;
    }

    .title {
        float: left;
        display: flex;
        padding-left: 10px;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        height: 100%;
    }
}

.social {
    float: left;
    display: flex;
    max-height: 100%;
    height: 100%;
    justify-content: center;
    width: 100px;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 0 10px 0 10px;
}

/* Nav */

.navigation{
    letter-spacing: 0.075rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    height: 100%;
    list-style: none;

    margin: 0;
    padding: 0;

    li {
        margin: 0 15px 0 15px;
        line-height: 1.3;
    }

    a {
        font-size: 1.6em;

        padding: 0 10px 0 10px;
    }
}

.highlight {
    color: $background;
    transition: all 0.25s ease;

    &:hover {
        color: $highlight;
    }
}

#Projects li:nth-child(1) a,
#Notes li:nth-child(2) a,
#About li:nth-child(3) a {
    color: $highlight;
}

/* Content */

.content {
    background-color: $foreground;

    border-bottom: 3px $highlight solid;
    border-top: 3px $highlight solid;
    border-radius: 2px;

    margin: 20px 0;
    padding: 20px;

    box-shadow: 3px 3px 6px rgba(0, 0, 0, 1);

    p {
        font-size: 1.2em;
        padding: 0 0 20px 0;
        margin: 0;
    }

    .profile {
        margin: 25px;
        width: 256px;
        border-radius: 2px;
        border: solid $highlight 2px;
        float: right;
    }
}

/* Blog */

.post {
    position: relative;
    list-style: none;
    padding: 0 0 10px 0;

    p {
        padding: 0 0 0 1vh;
    }
    
    &::after {
        position: absolute;
        content: '';
        background-color: rgba(15, 15, 15, 0.15);
        border-radius: 2px;
        bottom: 0;
        width: 100%;
        height: 2px;

    }
}

.postTitle {
    font-size: 1.3em;

    .date {
        display: inline-block;
        font-size: 0.7em;
        color: lighten($background, 20%);
    }
}

/* Projects */

.projects {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;

    .entry {
        width: 100%;
        position: relative;
        margin-bottom: 1.2rem;
        flex:1;
        display: flex;
        text-align: center;
        transition: all 0.25s ease;

        p:first-child {
            flex: 1;
            font-size: 1.2rem;
            text-align: left;

            a {
                color: black;

                &:hover {
                    color: $highlight;
                }
            }
        }

        p {
            float: right;
            margin-bottom: 1rem;
            padding: 0 1rem 0 1rem;
            text-align: center;
            border-radius: 2px;
        }

        .Front-end {
            background-color: #43A047;
        }

        .Full-stack {
            background-color: #e53935;
        }

        &::after {
            position: absolute;
            content: '';
            background-color: rgba(15, 15, 15, 0.15);
            border-radius: 2px;
            bottom: 0;
            width: 100%;
            height: 2px;

        }
    }
}

/* Footer */

footer {
    p {
        color: $foreground;
        margin: 0.5em;
        opacity: 0.5;
        transition: all 0.25s ease;

        &:hover {
            opacity: 1;
        }
    }
}

/* Icons */

.icon-large {
    height: 32px;
    opacity: 0.7;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }
}

.icon-small {
    width: 12px;
    transition: all 0.25s ease;

    &:hover {
        opacity: 1;
    }
}

/* Small screen */

@media screen and (max-width: 1300px) {
    .content-wrapper {
        max-width: 70vw;
        width: 70vw;
    }
}

/* Tablet */

@media screen and (max-width: 800px) {
    .content-wrapper {
        max-width: 90vw;
        width: 90vw;
    }

    .navigation {
        flex-direction: column;
        justify-content: center;
    }

    .navigation li {
        margin: 0;
    }

    .social {
        display: none;
    }
}

/* Mobile */

@media screen and (max-width: 450px) {
    .content-wrapper {
        max-width: 100vw;
        width: 100vw;
    }

    .profile {
        display: none;
    }

    html,
    body {
        font-size: 12px;
    }
}

@media screen and (max-width: 350px) {
    html,
    body {
        font-size: 10px;
    }
}