---
import BaseLayout from "@layouts/BaseLayout.astro";
---

<BaseLayout
  title="Mariusz Zarzycki"
  description="Full-stack developer and tinkerer"
  showFooter={false}
>
  <main>
    <h1>Mariusz<br />Zarzycki</h1>
    <p>Freelance web developer</p>

    <ul class="list">
      <li><a href="/about"><span>A</span>bout</a></li>
      <li><a href="/blog"><span>B</span>log</a></li>
      <li><a href=""><span>P</span>rojects</a></li>
      <li><a href="/rss.xml"><span>R</span>SS</a></li>
    </ul>
  </main>
</BaseLayout>

<style>
  :global(body) {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  :global(.content) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main {
    position: relative;
    margin: 0 auto;
    height: auto;
  }

  h1 {
    color: var(--text-color);
    font-family: "Nudles";
    font-size: 5rem;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 0.3em;
    padding: 12px 0 0px;
    position: relative;
    text-align: center;
  }

  p {
    margin: 0;
    font-size: 1.6rem;
    text-align: center;
    color: var(--text-color);
    font-family: "Nudles";
    margin: 0 0 1.8rem;
  }

  .content {
    padding: 16px;
  }

  main {
    width: 100%;
    margin: 0 auto;
    font-family: "Nudles", serif;
  }

  ul {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  ul li {
    display: flex;
    counter-increment: counter;
  }

  a {
    color: var(--text-color);
    display: flex;
    text-decoration: none;
    transition: scale 0.02s linear;
    width: 100%;
  }

  a:hover {
    color: var(--bg-color);
  }

  ul li a span {
    color: var(--accent);
  }

  ul li a:hover {
    scale: 1.08;
  }

  ul li a::before {
    content: ".  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .  .";
    text-overflow: hidden;
    overflow: hidden;
    white-space: pre;
    flex: 1;
    margin: 0 12px;
    order: 2;
  }

  ul li a::after {
    content: counters(counter, ".", upper-roman);
    order: 3;
  }

  hr {
    position: relative;
    height: 2px;
    width: 110%;
    left: -5%;
    border: 0;
    background-color: var(--text-color);
    margin: 1.2rem 0 1.8rem;
  }

  hr::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 12px;
    background-color: var(--bg-color);
  }

  .list {
    margin-bottom: 2.4rem;
  }
</style>
