---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout>
  <h2>Hey :)</h2>
  <p>
    Welcome to my corner of the internet. I'm a web developer, enjoy building
    things that last, sharing information and knowledge, and a good debate.
  </p>

  <p>
    I've worked with many start-ups, donning the hats of app development,
    devops, growth hacking, mentoring. I pride myself in the ability to pick up
    tasks I am unfamillar with, find material to learn from, and be able to
    action that learning quickly and efficiently.
  </p>

  <h2>Stack</h2>
  <p>
    This website is built with <a href="https://astro.build/">Astro</a> for static
    HTML generation and uses
    <a href="https://vallode.goatcounter.com/">GoatCounter</a> for simple and privacy-friendly
    analytics.
  </p>
</Layout>
