---
import TextPage from "../layouts/TextPage.astro";
---

<TextPage title="Links" description="TODO!">
  <p>A collection of links to projects and things I find interesting.</p>

  <ul>
    <li><a href="">asdas</a></li>
  </ul>
</TextPage>
