footer {
  display: flex;
  font-size: 1.6rem;
  gap: var(--spacing);
  padding: var(--spacing) 0;

  a {
    color: inherit;
    padding: var(--spacing-xs);
    position: relative;
    text-decoration: underline dotted currentColor 1px;
    transition: all 0.1s;

    &:hover {
      text-decoration: underline solid currentColor 1px;
    }
  }
}