header {
  display: flex;
  gap: 1.2rem;
  align-items: baseline;
  padding: 1.8rem 0;
  font-family: sans-serif;

  h1 {
    font-size: 3.2rem;
    margin: 0;
  }

  nav {
    display: flex;
    gap: .8rem;
    font-size: 1.6rem;
  }

  a {
    color: inherit;
    position: relative;
    padding: 0.3rem 0.6rem;
    text-decoration: underline dotted gray 1px;
    transition: all 0.1s;

    &:hover {
      text-decoration: underline solid black 1px;
    }
  }
}