main {
  code {
    border-radius: 4px;
    line-height: calc(1ex / 0.32);
    padding: 0 .5ex;
  }

  pre {
    background: var(--middleground);
  }

  code {
    font-family: monospace;
  }
  
  pre code {
    display: block;
    overflow-x: auto;
    padding: var(--spacing-sm);
    white-space: pre;
  }

  ul code,
  p code {
    background: var(--middleground);
    box-decoration-break: clone;
    word-wrap: break-word;
  }
}
