main {
  pre {
    background: var(--middleground);
  }
  
  pre code {
    display: block;
    overflow-x: auto;
    padding: var(--spacing-sm);
    white-space: pre;
  }

  p code {
    background: var(--middleground);
    box-decoration-break: clone;
    word-wrap: break-word;
  }
}
