.posts {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 0;
    text-decoration: none;

    .post__date {
        color: var(--foreground-alt);
    }

    p {
        color: var(--foreground);
        margin: 0;
    }

    &:hover {
        text-decoration: none;
        background-color: #d1ded380;
    }

    &:active .post__title {
        text-decoration: underline;
    }
}

.post__header {
    display: flex;
    justify-content: space-between;
}

.post__description {}

.post__count {}