* { 
	margin: 0px;
	padding: 0px;
	line-height: 1;
	font-family: 'PT Sans', sans-serif;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}
body {
	background-image: url('../images/water.jpg');
	background-color: #333333;
}
h1 { 
	font-size: 4.5em;
	padding: 8px;
 	line-height: 0.75;
 	margin-bottom: 0px;
 	font-family: 'Roboto', sans-serif;
}
p, a {
	display: block;
}
p {
	font-size: 1.5em;
	margin-bottom: 0px;
}
a {
	font-size: 1em;
	margin-top: 30px;
	margin-bottom: 30px;
	color: #141F14;

	transition: all 0.1s linear;
}
.center-container {
	text-align: center;
	opacity: 1;
	background: #D5F2F6;

	border-color: #245C67;
	border-style: solid;
	border-width: 1px;
	border-top: none;

	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.dropdown {
	color: #D5F2F6;
	width:10%;
	line-height: 1;
	margin-left: 2%;
	margin-right: 2%;
	vertical-align: text-top;
	display:inline-block;
	background-color: #245C67;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.time {
	color: #245C67;
	width:auto;
	margin-left: 5%;
	margin-right: 5%;
	vertical-align: text-top;
	display:inline-block;
	margin-bottom: 1%;
	background-color: #D5F2F6;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.content {
	position: absolute;
	color: #D5F2F6;
	opacity: 0.8;
	width:10%;
	padding:2px;
	vertical-align: text-top;
	background-color: #245C67;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
}`
.dropdown-time h1 {
	opacity: 0.8;
}
.first {
	transform: translateY(-165px);
	transition: all 0.3s linear;
}
.first:hover {
	transform: translateY(0%);
	opacity: 1;
}
.second {
	transform: translateY(-210px);
	transition: all 0.3s linear;
}
.second:hover {
	transform: translateY(0%);
	opacity: 1;
}
.third {
	transform: translateY(-210px);
	transition: all 0.3s linear;
}
.third:hover {
	transform: translateY(0%);
	opacity: 1;
}
.fourth {
	transform: translateY(-165px);
	transition: all 0.3s linear;
}
.fourth:hover {
	transform: translateY(0%);
	opacity: 1;
}
a:hover {
	color: #1EAEDB;
}