---
import Icon from "./Icon.astro";
---

<footer>
  <div class="links">
    <div class="side">
      <a href="/now">/now</a>
      <a href="/links">/links</a>
    </div>

    <a href="//github.com/vallode" aria-label="Github" class="icon">
      <Icon name="git" />
    </a>
    <a href="/rss.xml" aria-label="RSS feed" class="icon">
      <Icon name="rss" />
    </a>
    <a href="mailto:hello@mariuszz.com" aria-label="Mail" class="icon">
      <Icon name="mail" />
    </a>
  </div>
</footer>

<style>
  footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 1.5rem;
    width: 100%;
  }

  @media screen and (max-width: 32rem) {
    footer {
      padding: 0 1rem;
    }
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }

  .links {
    align-items: center;
    border-bottom: 2px solid var(--text-color);
    border-top: 2px solid var(--text-color);
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    justify-content: center;
    padding: 0.75rem 0;
    width: 100%;
  }

  .links .side {
    align-items: center;
    display: flex;
    flex: 1;
    font-size: 1.1rem;
    gap: 0.5rem;
  }

  .side p {
    margin: 0;
    line-height: 0;
  }

  .side a {
    text-decoration: none;
    color: var(--text-color);
    line-height: 1.2;
  }

  .side a:hover {
    background-color: var(--text-color);
    color: var(--bg-color);
  }
</style>
