---
const { pathname } = Astro.url;
---

<header>
  <nav>
    <a href="/" class:list={{ active: pathname === "/" }}>home</a>
    <a href="/posts" class:list={{ active: pathname === "/posts" }}>posts</a>
  </nav>

  <h1>Vallode</h1>

  <nav></nav>
</header>

<style lang="scss">
  header {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    gap: var(--spacing);
    padding: var(--spacing) 0 var(--spacing-xs);

    h1 {
      font-size: 3.2rem;
      line-height: 0.6;
      margin: 0;
    }

    nav {
      display: flex;
      flex: 1;
      font-size: 1.6rem;
    }

    a {
      color: var(--foreground);
      padding: var(--spacing-xs);
      font-weight: 600;
      text-decoration: none;
      transition: all 0.1s;

      &.active {
        color: var(--foreground-focus);
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
</style>
