---
const { pathname } = Astro.url;
---

<header>
  <nav>
    <a href="/" class:list={{ active: pathname === "/" }}>home</a>
    <a href="/posts" class:list={{ active: pathname.startsWith("/posts") }}
      >posts</a
    >
  </nav>

  <a href="/" class="heading">
    <h1>Vallode</h1>
  </a>

  <nav></nav>
</header>

<style lang="scss">
  header {
    align-items: center;
    display: flex;
    font-family: sans-serif;
    gap: var(--spacing);
    padding: var(--spacing) 0 var(--spacing-xs);

    .heading {
      color: inherit;
      text-decoration: none;
    }

    h1 {
      font-size: 3.2rem;
      font-weight: 600;
      line-height: 1;
      margin: 0;

      &:active {
        color: var(--middleground);
      }
    }

    nav {
      display: flex;
      flex: 1;
      font-size: 1.6rem;

      a {
        color: var(--foreground);
        padding: var(--spacing-xs);
        text-decoration: none;
        transition: all 0.1s;

        &.active {
          color: var(--foreground-focus);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
</style>
