---

---

<nav>
  <a href="/">/home</a>
  <a href="/about">/about</a>
  <a href="/blog">/blog</a>
  <a href="/projects">/projects</a>
</nav>

<style>
  nav {
    display: flex;
    font-size: 1rem;
    gap: 1.5rem;
    justify-content: center;
    margin: 0.6rem 0 1.6rem;
  }
</style>
