<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Single base64 encoded pixel, better than a separate network request! -->
  <link
    rel="icon"
    type="image/x-icon"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2O4eO/yfwAIiAOCGx1JnQAAAABJRU5ErkJggg=="
  >

  <title>{% block title %}Vallode{% endblock title %}</title>

  <!-- Inlining critical styles. -->
  <style>html{font-family:"DejaVu Sans",Geneva,Verdana,sans-serif;height:100%;}body{display:flex;min-height:100%;}.wrap{margin:0 auto;max-width:60ch;}</style>

  <!-- Simple blocking-style defering -->
  <link rel="stylesheet" href="/style.css" media="print" onload="this.media='all'; this.onload=null;">
  <noscript><link href="/style.css" rel="stylesheet" /></noscript>
</head>
<body>
  <div class="wrap" style="flex: 1 1 0%;">
    {% include "header.html" %}

    <main>
      {% block content %} {% endblock content %}
    </main>
  </div>
</body>
</html>
