<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Hello, friend! -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Single base64 encoded pixel, better than a separate network request! -->
  <link
    rel="shortuct icon"
    type="image/x-icon"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQIW2O4eO/yfwAIiAOCGx1JnQAAAABJRU5ErkJggg=="
  >

  {% block rss %}
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path='rss.xml', trailing_slash=false) }}">
  {% endblock %}

  <title>{% block title %}Vallode{% endblock title %}</title>

  <!-- Inlining critical styles -->
  {% include "partials/critical-css.html" %}
  <link href="/style.css" rel="stylesheet" />

  <!-- GoatCounter analytics -->
  <script data-goatcounter="https://vallode.goatcounter.com/count" src="//gc.zgo.at/count.js" async></script>

  {% block head %}{% endblock head%}
</head>
<body>
  <div class="wrap" style="flex: 1 1 0%;">
    {% include "header.html" %}

    <main>
      {% block content %} {% endblock content %}
    </main>
  </div>
</body>
</html>
