{% extends  "base.html" %}

{% block content %}
  <h1>Vallode</h1>

  <section>
    <p>
      This is my space for my things. I'm a programmer
      <abbr title="I need money to survive.">for money (out of necessity)</abbr> and
      <abbr title="I enjoy problem solving.">for fun (out of boredom)</abbr>.
    </p>

    <p>
      This small site is my plot of digital land, dedicated to me and the things I want
      to share with the world.
    </p>

    <h2>External links</h2>
    <p>You can find me on a few different websites:</p>

    <ul>
      <li>Gitlab <a href="/">@vallode</a></li>
      <li>Github <a href="/">@vallode</a></li>
      <li>Twitter <a href="/">@vallode_</a></li>
    </ul>
  </section>
{% endblock content %}
