{% extends "base.html" %}

{% block head %}
<link rel="canonical" href="{{ current_url | safe }}">
<meta name="description" content="{{ page.description }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="og:article:published_time" content="{{ page.date }}" />
<meta property="og:article:modified_time" content="{{ page.updated }}" />
<meta property="og:article:author" content="Mariusz Z." />
<!-- <meta property="og:article:section" content="" />
<meta property="og:article:tag" content="" /> -->
<meta property="og:url" content="{{ page.permalink }}" />
{% endblock head %}

{% block title %}
<title>{{ page.title }} - {{ config.title }}</title>
{% endblock title %}

{% block content %}
<hgroup>
  {% if page.date %}
    <p><small>{{ page.date | date(format="%d %B %Y") }}</small></p>
  {% endif %}
  <h1>{{ page.title }}</h1>
</hgroup>

{{ page.content | safe }}

<hr />

<ul class="metadata">
  {% if page.date %}
  <li>
    <p><small>Created: {{ page.date }}</small></p>
  </li>
  {% endif %}
  {% if page.updated %}
  <li>
    <p><small>Updated: {{ page.updated }}</small></p>
  </li>
  {% endif %}
  <li>
    <p><small>Word count: {{ page.word_count }}</small></p>
  </li>
</ul>
{% endblock content %}