{% extends "base.html" %}

{% block head %}
<link rel="canonical" href="{{ current_url | safe }}">
<meta name="description" content="{{ page.description }}" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:type" content="article" />
<meta property="og:article:published_time" content="{{ page.date }}" />
<meta property="og:article:modified_time" content="{{ page.updated }}" />
<meta property="og:article:author" content="Mariusz Z." />
<!-- <meta property="og:article:section" content="" />
<meta property="og:article:tag" content="" /> -->
<meta property="og:url" content="{{ page.permalink }}" />
{% endblock head %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block content %}
<hgroup>
  <p>{{ page.date }}</p>
  <h1>{{ page.title }}</h1>
</hgroup>

{{ page.content | safe }}

<hr />

<details>
  <summary>Metadata</summary>

  <ul>
    <li>
      <p>Created: {{ page.date }}</p>
    </li>
    <li>
      <p>Updated: {{ page.updated }}</p>
    </li>
    <li>
      <p>Word count: {{ page.word_count }}</p>
    </li>
  </ul>
</details>
{% endblock content %}