{% extends "base.html" %}

{% block title %}
<title>{{ section.title }} | {{ config.title }}</title>
{% endblock title %}

{% block content %}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

<ul class="posts">
  {% for post in section.pages %}
  <li>
    <a class="post" href="{{ post.permalink }}">
      <div class="post__header">
        <p class="post__title">{% if post.draft %}<strong>DRAFT:</strong> {% endif %}{{ post.title }}</p>
        <p class="post__date">{{ post.date }}</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}