{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block content %}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

<ul class="posts">
  {% for post in section.pages %}
  <li>
    <p>
      {{ post.date }} -
      <a href="{{ post.permalink }}">
        {{ post.title }}
      </a>

      {% if post.draft %}
      <sup>draft</sup>
      {% endif %}
    </p>

    {% if post.description %}
    <p>
      {{ post.description }}
    </p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endblock content %}