{% extends "base.html" %}

{% block title %}{{ section.title }} | {{ config.title }}{% endblock title %}

{% block content %}

<h1>{{ section.title }}</h1>

{{ section.content | safe }}

<ul class="posts">
  {% for post in section.pages %}
  <li>
    <a class="post" href="{{ post.permalink }}">
      <div class="post__header">
        <p class="post__title">{{ post.title }}{% if post.draft %}<sup> draft</sup>{% endif %}</p>
        <p class="post__date">{{ post.date }}</p>
      </div>

      {% if post.description %}
      <p>{{ post.description }}</p>
      {% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}